<div class="part-table">
  <div class="header-col">PART NUMBER</div>
  <div class="header-col">PARTS PRODUCED</div>
  <div class="header-col">SCRAP PRODUCED</div>
  <div class="part-col">VB160R</div>
  <div class="part-col">13709</div>
  <div class="part-col">44</div>
  <div class="part-col">VB160RH</div>
  <div class="part-col">3366</div>
  <div class="part-col">0</div>
  <div class="part-col">VB165R</div>
  <div class="part-col">764</div>
  <div class="part-col">0</div>                  
</div>
